[
    (None, Module((
        doc: [
            "//! ## Signified signal types",
            "//!",
            "//! The generic `AtspiEvent` has a specific meaning depending on its origin.",
            "//! This module offers the signified types and their conversions from a generic `AtpiEvent`.",
            "//!",
            "//! The `TrySignify` macro implements a `TryFrom<Event>` on a per-name and member basis",
            "//!",
        ],
    ))),
    (Some("pub trait Signified {"), CmtOrItem((
        dist: 0,
        doc: [
            "/// All Atspi / Qspi event types encapsulate `AtspiEvent`.",
            "/// This trait allows access to the underlying item.",
        ],
    ))),
    (Some("pub enum DocumentEvents {"), CmtOrItem((
        dist: 1,
        doc: [
            "/// Any of the `Document` events.",
            "///",
            "/// If you are interested in `Event.Document` events, this enum",
            "/// may help you select for these:",
            "///",
            "/// Event table for the contained types:",
            "///",
            "/// |Interface|Member|Kind|Detail 1|Detail 2|Any Data|Properties|",
            "/// |:--|---|---|---|---|---|---|",
            "/// |Document|LoadComplete|    |    |    |    |properties|",
            "/// |Document|Reload|    |    |    |    |properties|",
            "/// |Document|LoadStopped|    |    |    |    |properties|",
            "/// |Document|ContentChanged|    |    |    |    |properties|",
            "/// |Document|AttributesChanged|    |    |    |    |properties|",
            "/// |Document|PageChanged|    |    |    |    |properties|",
        ],
    ))),
    (Some("pub enum ObjectEvents {"), CmtOrItem((
        dist: 1,
        doc: [
            "/// Any of the `Object` events.",
            "///",
            "/// Event table for the contained types:",
            "///",
            "/// |Interface|Member|Kind|Detail 1|Detail 2|Any Data|Properties|",
            "/// |:--|---|---|---|---|---|---|",
            "/// |Object|PropertyChange|property|    |    |value|properties|",
            "/// |Object|BoundsChanged|    |    |    |    |properties|",
            "/// |Object|LinkSelected|    |    |    |    |properties|",
            "/// |Object|StateChanged|state|enabled|    |    |properties|",
            "/// |`Object|ChildrenChanged|operation|index_in_parent`|    |child|properties|",
            "/// |Object|VisibleDataChanged|    |    |    |    |properties|",
            "/// |Object|SelectionChanged|    |    |    |    |properties|",
            "/// |Object|ModelChanged|    |    |    |    |properties|",
            "/// |Object|ActiveDescendantChanged|    |    |    |child|properties|",
            "/// |Object|Announcement|text|    |    |    |properties|",
            "/// |Object|AttributesChanged|    |    |    |    |properties|",
            "/// |Object|RowInserted|    |    |    |    |properties|",
            "/// |Object|RowReordered|    |    |    |    |properties|",
            "/// |Object|RowDeleted|    |    |    |    |properties|",
            "/// |Object|ColumnInserted|    |    |    |    |properties|",
            "/// |Object|ColumnReordered|    |    |    |    |properties|",
            "/// |Object|ColumnDeleted|    |    |    |    |properties|",
            "/// |Object|TextBoundsChanged|    |    |    |    |properties|",
            "/// |Object|TextSelectionChanged|    |    |    |    |properties|",
            "/// |`Object|TextChanged|detail|start_pos|end_pos|text|properties`|",
            "/// |Object|TextAttributesChanged|    |    |    |    |properties|",
            "/// |Object|TextCaretMoved|    |position|    |    |properties|",
        ],
    ))),
    (Some("pub enum WindowEvents {"), CmtOrItem((
        dist: 1,
        doc: [
            "/// Any of the `Window` events.",
            "///",
            "/// Event table for the contained types:",
            "///",
            "/// |Interface|Member|Kind|Detail 1|Detail 2|Any Data|Properties|",
            "/// |:--|---|---|---|---|---|---|",
            "/// |Window|PropertyChange|property|    |    |    |properties|",
            "/// |Window|Minimize|    |    |    |    |properties|",
            "/// |Window|Maximize|    |    |    |    |properties|",
            "/// |Window|Restore|    |    |    |    |properties|",
            "/// |Window|Close|    |    |    |    |properties|",
            "/// |Window|Create|    |    |    |    |properties|",
            "/// |Window|Reparent|    |    |    |    |properties|",
            "/// |Window|DesktopCreate|    |    |    |    |properties|",
            "/// |Window|DesktopDestroy|    |    |    |    |properties|",
            "/// |Window|Destroy|    |    |    |    |properties|",
            "/// |Window|Activate|    |    |    |    |properties|",
            "/// |Window|Deactivate|    |    |    |    |properties|",
            "/// |Window|Raise|    |    |    |    |properties|",
            "/// |Window|Lower|    |    |    |    |properties|",
            "/// |Window|Move|    |    |    |    |properties|",
            "/// |Window|Resize|    |    |    |    |properties|",
            "/// |Window|Shade|    |    |    |    |properties|",
            "/// |Window|uUshade|    |    |    |    |properties|",
            "/// |Window|Restyle|    |    |    |    |properties|",
        ],
    ))),
    (Some("pub enum MouseEvents {"), CmtOrItem((
        dist: 1,
        doc: [
            "/// Any of the `Mouse` events.",
            "///",
            "/// Those interested in `Event.Mouse` events, this enum",
            "/// may help select and specify for those on a stream:",
            "///",
            "/// Event table for the contained types:",
            "///",
            "/// |Interface|Member|Kind|Detail 1|Detail 2|Any Data|Properties|",
            "/// |:--|---|---|---|---|---|---|",
            "/// |Mouse|Abs|    |x|y|    |properties|",
            "/// |Mouse|Rel|    |x|y|    |properties|",
            "/// |`Mouse|Button|detail|mouse_x|mouse_y`|    |properties|",
        ],
    ))),
    (Some("pub enum TerminalEvents {"), CmtOrItem((
        dist: 1,
        doc: [
            "/// Any of the `Terminal` events.",
            "///",
            "/// If you are interested in `Event.Terminal` events, this enum",
            "/// may, for instance, help you select for those on a stream:",
            "///",
            "/// Event table for the contained types:",
            "///",
            "/// |Interface|Member|Kind|Detail 1|Detail 2|Any Data|Properties|",
            "/// |:--|---|---|---|---|---|---|",
            "/// |Terminal|LineChanged|    |    |    |    |properties|",
            "/// |Terminal|ColumncountChanged|    |    |    |    |properties|",
            "/// |Terminal|LinecountChanged|    |    |    |    |properties|",
            "/// |Terminal|ApplicationChanged|    |    |    |    |properties|",
            "/// |Terminal|CharwidthChanged|    |    |    |    |properties|",
        ],
    ))),
    (Some("pub enum FocusEvents {"), CmtOrItem((
        dist: 1,
        doc: [
            "/// The `Focus` event.",
            "/// # Deprecation notice!!",
            "/// This signal is deprecated and may be removed in the near future.",
            "/// Monitor `StateChanged::Focused` signals instead.",
            "///",
            "/// Event table for the contained types:",
            "///",
            "/// |Interface|Member|Kind|Detail 1|Detail 2|Any Data|Properties|",
            "/// |:--|---|---|---|---|---|---|",
            "/// |Focus|Focus|    |    |    |    |properties|",
        ],
    ))),
    (Some("pub enum KeyboardEvents {"), CmtOrItem((
        dist: 1,
        doc: [
            "/// The `Keyboard` events.",
            "///",
            "/// Contains the variant of the `Keyboard` event.",
            "/// While this enum has only one item, it is defined nevertheless",
            "/// to keep conversion requirements congruent over all types.",
            "///",
            "/// If you are interested in `Event.Keyboard` events, this enum",
            "/// may, for instance, help you select for those on a stream:",
            "///",
            "/// Event table for the contained types:",
            "///",
            "/// Interface|Member|Kind|Detail 1|Detail 2|Any Data|Properties",
            "/// |:--|---|---|---|---|---|---|",
            "/// |Keyboard|Modifiers|    |previous_modifiers|current_modifiers|    |properties|",
        ],
    ))),
    (Some("pub fn enabled(&self) -> bool {"), CmtOrItem((
        dist: 1,
        doc: [
            "    //TODO checkme please!!",
        ],
    ))),
    (Some("pub struct ActiveDescendantChangedEvent(AtspiEvent);"), CmtOrItem((
        dist: 1,
        doc: [
            "// TODO Check my impl please.",
        ],
    ))),
    (Some("pub fn text(&self) -> &OwnedValue {"), CmtOrItem((
        dist: 1,
        doc: [
            "    // TODO zvariant::Value -> String me please",
        ],
    ))),
    (Some("pub struct WindowPropertyChangeEvent(AtspiEvent);"), CmtOrItem((
        dist: 2,
        doc: [
            "//TODO Check my impl with bus signal",
        ],
    ))),
    (Some("pub fn x(&self) -> i32 {"), CmtOrItem((
        dist: 1,
        doc: [
            "    /// X-coordinate of mouse button event",
            "    ///  Coordinates are absolute, with the origin in the top-left of the \'root window\'",
        ],
    ))),
    (Some("pub fn y(&self) -> i32 {"), CmtOrItem((
        dist: 1,
        doc: [
            "    /// Y-coordinate of mouse button event",
            "    /// Coordinates are absolute, with the origin in the top-left of the \'root window\'",
        ],
    ))),
    (Some("pub fn button(&self) -> &str {"), CmtOrItem((
        dist: 1,
        doc: [
            "    /// Button being used 1..n",
            "    /// The suffix may either be \'p\', for pressed, or \'r\' for rekeased.",
        ],
    ))),
]