[package]
name = "atspi-macros"
version = "0.1.3"
edition = "2021"
authors = ["Luuk van der Duim <luukvanderduim@gmail.com>", "Tait Hoyem <tait@tait.tech>"]
description = "Macros to assist in various impl blocks for the `atspi` crate."
license = "MIT"
readme = "README.md"
repository = "https://github.com/odilia-app/atspi"
keywords = ["macros", "helper"]

[lib]
proc_macro = true

[features]
default = ["async-io"]
async-io = ["zbus/async-io"]
tokio = ["zbus/tokio"]

[dependencies]
proc-macro2 = "1.0"
syn = { version = "1.0", features = ["full"] }
quote = "1.0"
zbus = { version = "3.0.0", default-features = false, features = ["xml"] }
zbus_names = "2.4.0"
serde = "1.0"
zvariant = "3.9.0"
