[package]
name = "atspi-connection"
version = "0.1.0"
edition = "2021"
description = "A method of connecting, querying, sending and recieving over AT-SPI."
license = "Apache-2.0 OR MIT"
keywords = ["screen-reader", "accessibility", "a11y", "linux"]
categories = ["accessibility"]
repository = "https://github.com/odilia-app/atspi/"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
tracing = ["dep:tracing"]
async-std = ["zbus/async-io", "atspi-proxies/async-std", "atspi-common/async-std"]
tokio = ["zbus/tokio", "atspi-proxies/tokio", "atspi-common/tokio"]

[dependencies]
atspi-proxies = { path = "../atspi-proxies/" }
atspi-common = { path = "../atspi-common/" }
futures-lite = "1.13.0"
zbus.workspace = true
tracing = { optional = true, workspace = true }
enumflags2 = "0.7.7"

[dev-dependencies]
tokio-test = "0.4.2"
