[package]
name = "atspi-common"
version = "0.5.0"
edition = "2021"
readme = "README.md"
categories = ["accessibility", "api-bindings"]
keywords = ["Macros", "Accessibility"]
repository = "https://github.com/odilia-app/atspi"
description = "Primitive types used for sending and receiving Linux accessibility events."
license = "Apache-2.0 OR MIT" 
include = ["src/**/*", "LICENSE-*", "README.md"]
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["async-std"]
async-std = ["zbus/async-io"]
tokio = ["zbus/tokio"]

[dependencies]
enumflags2 = "0.7.7"
serde = "1.0"
static_assertions = "1.1.0"
zbus_names = "3.0"
zvariant = { version = "4.0", default-features = false }
zbus = { workspace = true, optional = true, default-features = false }
zbus-lockstep = "0.4.1"
zbus-lockstep-macros = "0.4.1"

[dev-dependencies]
zbus = { workspace = true }
atspi-connection = { path = "../atspi-connection" }
atspi-proxies = { path = "../atspi-proxies"  }
tokio-stream = { version = "0.1", default-features = false, features = ["time"] }
tokio = { version = "1", default_features = false, features = ["macros", "rt-multi-thread"] }
rename-item = "0.1.0"
tokio-test = "0.4.2"
serde_plain = "1.0.1"
static_assertions = "1.1.0"
